.header__lang-link{
  font-family: 'inter', Arial,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-decoration-line: underline;
  text-align: right;
  color: #ffffff;
  width: 30px;
  height: 28px;

}
