@import url('./__caption/lead__caption.css');
@import url('./__element/lead__figure.css');
@import url('./__image/lead__image.css');
@import url('./__subtitle/lead__subtitle.css');
@import url('./__title/lead__title.css');


.lead{
  max-width: 984px;
  margin: 0 auto;
  padding: 0 48px;
}

@media screen and (max-width:768px){
  .lead{
    padding:0;
  }
}
