.footer__link{
  list-style: none;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 112%;
  /* identical to box height, or 112% */
  color: #FFFFFF;
  text-decoration: none;
  margin: 0;
}
@media screen and (max-width:600px){
  .footer__link{
    font-size: 24px;
    line-height: 24px;
  }
}
