.header__lang-link_active{
  font-family: 'inter', Arial,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #ffffff;
  max-width: 30px;
  width: 100%;
  text-decoration-line: underline;
}
