.place__url-heading{
  font-family: 'inter', Arial,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  /* identical to box height, or 100% */
  letter-spacing: 0.2em
}
